<section>
    <ngb-carousel class="slider ">
        <ng-template ngbSlide>
            <!-- <img src="../assets/banner.jpg" alt="Slider 1" > -->
            <li class="img1 img-fluid">
                <br><br>
                <div class="center text-center mx-auto d.block">
                    <h2> The Taste Of Our <span>Amazing Cakes</span> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero!</p>
                    <br>
                    <br>
                    <a class="btn btn-full" (click)="open(content)">Watch Our Video</a>
                </div>
                <!-- modal -->
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Red Velvet Cake</h4>
                    </div>
                    <div class="modal-body">
                        <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                            <iframe width="1581" height="672" src="https://www.youtube.com/embed/vGE-RfP6KRE"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ng-template>
        <ng-template ngbSlide>
            <li class="img2">
                <br><br>
                <div class="center">
                    <h2><span> The Taste Of Our Amazing Cakes</span> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero!</p>

                    <br>
                    <br>

                    <a class="btn btn-full" (click)="open(content)">Watch Our Video</a>
                </div>
                <!-- modal -->
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Red Velvet Cake</h4>
                    </div>
                    <div class="modal-body">
                        <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                            <iframe width="1581" height="672" src="https://www.youtube.com/embed/vGE-RfP6KRE"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ng-template>
        <ng-template ngbSlide>
            <li class="img3">
                <br><br>
                <div class="center">
                    <h2><span> The Taste Of Our Amazing Cakes</span> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, vero!</p>

                    <br>
                    <br>

                    <a class="btn btn-full" (click)="open(content)">Watch Our Video</a>
                </div>
                <!-- modal -->
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Red Velvet Cake</h4>
                    </div>
                    <div class="modal-body">
                        <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                            <iframe width="1581" height="672" src="https://www.youtube.com/embed/vGE-RfP6KRE"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ng-template>
    </ngb-carousel>
</section>